a.button,
button{
  @extend %font-text;
  @extend %button-gradient-bg;
  border-radius: 6px;
  color: #fff;
  border: 0 none;
  padding: 0.4em 1em;
  font-weight: bold;
  border: 1px solid #6C0F11;
}
