/* ============ */
/* = Day list = */
/* ============ */

.days{
  @extend %font-text;
}

.days li{
  clear: both;
  margin-bottom: 3rem;
  position: relative;
}

.days li.not-yet{
  opacity: 0.3;
  -webkit-mask: -webkit-linear-gradient(top, transparent, #000);
}

.days a{
  text-decoration: none;
  color: #000;
}

.days article{
  margin-left: 17rem;
}

.days .day-number{
  margin-left: -17rem;
}

.days h2{
  @extend %font-days-h2;
  color: $c_corporate_dark;
}

/* ============== */
/* = Day number = */
/* ============== */

.day-number{
  float: left;
  position: relative;
  font-size: 10.4rem;
  line-height: 10.4rem;
  font-family: AlfaSlabOneRegular;
  letter-spacing: 0.05em;
  color: $c_corporate_deep;
  margin-right: 15px;

  /* Webkit only gimmick; Doesn't work in combination with the shadow */
/*  background: -webkit-linear-gradient(top, $c_corporate_deep, $c_corporate_superdark);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/

  text-shadow: 0 3px 0 rgba(#352906, 0.5), 0 -3px 0 #FEFFF3;

}

.day-number + h1{
  overflow: hidden;
}