.social {
  @extend %button-gradient-bg;
  color: #fff;
  padding: 1em 3em;
  font-size: 1.3rem;
  border-radius: 0 0 5px 5px;
  display: inline-block;
  font-family: ClanWeb;
}

.social a{
  color: inherit;
  text-decoration: none;
}