<html lang="en-US">
  <head>
  	<meta charset="utf-8">
  	
    <!-- Set in HTTP header -->
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> -->

  	<title><%= @title || "HTML5 Advent 2012" %></title>
  	<meta name="description" content="">
  	<meta name="author" content="">

  	<meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- General CSS styling-->
    <link rel="stylesheet" href="/stylesheets/general.css" />
  	
  	<!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script>
    <script>window.html5 || document.write('<script src="/javascripts/vendor/html5.js"><\/script>')</script>
    <![endif]-->
    
    
    <!-- OpenGraph data -->
    <!-- TODO -->
    <meta property="og:title" content=""/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:site_name" content="HTML5 Advent 2012"/>
    <meta property="og:description" content=""/>
    
    <link rel="shortcut icon" href="/favicon.ico">

    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="/javascripts/arctext.js"></script>    
    <!-- // <script data-main="/javascripts/site.js" src="/javascripts/vendor/require.js"></script>  -->
        
  </head>