@import 'src/definitions/reset';
@import 'src/definitions/fonts';
@import 'src/definitions/variables';
@import 'src/definitions/extends';

html{
  min-height: 100%;
  font-size: 62.5%;
}

.acc{
  position: absolute;
  top: -9999px;
  left: -9999px;
}


/* ============ */
/* = Elements = */
/* ============ */
@import 'src/elements/text';
@import 'src/elements/code';
@import 'src/elements/ribbon';
@import 'src/elements/social';
@import 'src/elements/subscribe';
@import 'src/elements/days';

/* =========== */
/* = Layouts = */
/* =========== */
@import 'src/layouts/shared/site-nav';
@import 'src/layouts/shared/footer';
@import 'src/layouts/teaser';
@import 'src/layouts/home';
@import 'src/layouts/article';
