.layout-article {
  @extend %page-background;
}

.layout-article{
  
  .page{
    padding-top: 20px;
  }
  
  .ribbon,
  .main > .header .body,
  .main > .body{
    width: 650px;
    margin: 0 auto;
    text-align: left;
    position: relative;
  }
  
  .main > .header{
    background: rgba($c_corporate_deep, 0.6);
    position: relative;
  }
  
  .main > .header .body{
    @extend %autoclear;    
    @extend %font-main-header;
    margin-top: -5px;    
    background: $c_main_highlight_bg;
    color: $c_corporate_dark;
  }
  
  /* ================== */
  /* = Smaller ribbon = */
  /* ================== */
  .ribbon{
    font-size: 2.3rem;
    z-index: 1;
  }
  
  .ribbon .banner{
    font-size: 1.4rem;
  }
  
  /* ===================== */
  /* = Browse navigation = */
  /* ===================== */
  .browse .previous,
  .browse .next{
    position: absolute;
    top: 50%;
    text-decoration: none;
    vertical-align: middle;
    color: #fff;
    height: 3.2rem;    
  }
  
  .browse .previous{
    left: 0;
  }
  
  .browse .next{
    right: 0;
  }
  
  .browse .previous:before,
  .browse .next:after{
    /* To center it */
    margin-top: -1.6rem;
    
    @extend %font-icon;
    color: $c_corporate_light;
    background: #fff;
    display: inline-block;
    width: 3.2rem;
    height: 3.2rem;
    line-height: 3.2rem;
    text-decoration: none;
  }
  
  .browse .previous:before{
    content: "\E023";   
    margin-right: 1em; 
  }
  
  .browse .next:after{
    content: "\E024";  
    margin-left: 1em;       
  }
  
  .main > .body,
  .main > .header .body{
    padding: 20px;
  }
  
  .main > .body{
    background: $c_main_body_bg;
    position: relative;
  }  
  
}