.layout-article {
  @extend %page-background;
}

.layout-article{
  
  .page{
    padding-top: 20px;
  }
  
  .ribbon,
  .main > .footer,
  .main > .body{
    @extend %page-width-center;
  }
  
  .main > .body,
  .main > .footer{
    padding: 20px;
  }
    
  .main > .body,
  .main > .footer{
    background: $c_main_body_bg;
    position: relative;
  }  
    
  /* ================== */
  /* = Smaller ribbon = */
  /* ================== */
  
  .ribbon{
    font-size: 2.3rem;
    z-index: 3;
  }
  
  .ribbon .banner{
    font-size: 1.4rem;
  }
  
  /* =========== */
  /* = Sharing = */
  /* =========== */
  
  .share{
    @extend %autoclear;  
    margin-top: 3.6rem;
  }
  
  .share > p{
    @extend %font-h2;
    float: left;
    margin-right: 2em;
    line-height: 32px; /* Height of the share buttons */
  }
  
  .share .fb{
    margin-top: 5px; /* Align center with rest of the buttons */
    float: left;
  }
  
  /* =============== */
  /* = Attribution = */
  /* =============== */
  
  .attribution{
    padding: 2rem;
    background: $c_main_highlight_bg;
  }
  
  .attribution p:last-child{
    margin-bottom: 0;
  }
    

  
}


@media($mq_mobile){
  .layout-article{
    
    .page{
      padding-top: 0;
    }    
    
    .main > .header .body{
      margin-top: 0;
    }
    
    /* Make room for the prev/next */
    .main > .header{
      margin-top: 32px;
    }
    
    .browse{
      top: -32px;
      height: 32px;
      background: rgba($c_corporate_deep, 0.6);
      position: absolute;
      left: 0;
      right: 0;      
    }
    
    .browse .acc{
      position: static;
      left: 0;
      line-height: 32px;
      vertical-align: middle;
    }

    .browse .previous,
    .browse .next{
      top: 0;
      bottom: auto;
      padding-top: 0;
      display: block;
    }
    
    .browse .previous:before,
    .browse .next:after{
      top: 0;
    }
    
    
    .browse .previous{
      text-align: left;
      padding-left: 40px;
    }
    
    .browse .next{
      text-align: right;
      padding-right: 40px;      
    }
  }
}