.layout-home{
  @extend %page-background;
  background-size: 100% 100%;
  background-position: 0 -50%;
}

.layout-home{
  
  .page{
    width: 650px;
    margin: 0 auto;
    text-align: left;
    position: relative;
  }
  
  .main > header{
    margin: 10px -20px 0 -20px;
  }
  
  .main > .share{
    
  }
  
  .main > .body,
  .main > .site-nav,
  .main > .footer{
    background: $c_main_body_bg;
    padding: 20px;    
  }
  
  .main > .site-nav{
    padding-bottom: 0;
  }
  
  /* =========== */
  /* = Sharing = */
  /* =========== */
  
  .share{
    position: relative;
    @extend %autoclear;  
    padding: 1rem;
    z-index: 1;
  }
  
  .share .buttons{
    float: left;
    width: 140px;
  }
  
  .share > p{
    @extend %font-share;
    float: left;
    margin-right: 1em;
    line-height: 16px; /* Height of the share buttons */
  }

  
  
  /* =========================== */
  /* = The alien and it's beam = */
  /* =========================== */
  
  $alien_position_right: 30%;
  $alien_beam_height: 90px;
  
  .main > .alien{
    position: absolute;
    margin-top: -30px;
    right: -webkit-calc(30% - 60px);
    right: -moz-calc(30% - 60px);
    right: calc(30% - 60px);        
    z-index: 1;
  }

  .main > .body{
    position: relative;
    margin-top: $alien_beam_height - 40px;
  }
  
  /* The light cone */
  .main > .body:before,
  .main > .body:after{
    content: "";
    position: absolute;
    top: -1 * $alien_beam_height;
    height: $alien_beam_height;    
  }

  .main > .body:before{
    left: 0;
    width: 100% - $alien_position_right; 
    background: inline_image("/images/alien-ray-left.svg") no-repeat;
    background-position: 100% 100%;
    background-size: 100% 100%;
  }
  
  .main > .body:after{
    right: 0;
    width: $alien_position_right;
    background: inline_image("/images/alien-ray-right.svg") no-repeat;
    background-position: 100% 100%;
    background-size: 100% 100%;    
  }
  
  /* ============= */
  /* = Countdown = */
  /* ============= */
  
  .countdown{
    @extend %font-countdown;
    color: $c_corporate_dark;
    background: $c_main_highlight_bg;
    padding: 0.5em;
    margin-bottom: 3rem;
  }
  
  .countdown strong{
    color: $c_ribbon_banner_strong;
  }
  
}