.layout-teaser {
  @extend %page-background;
}

.layout-teaser {
  
  /* ======== */
  /* = Main = */
  /* ======== */
  
  .main{
    display: table;
    margin: 400px auto 0 auto;
    position: relative;
  }
  
  /* ================ */
  /* = Comming soon = */
  /* ================ */
  
  .comming-soon{
    width: 100%;
    position: absolute;
    top: -210px;
    margin-top: -1em;
    color: #fff;
    font-family: AlfaSlabOneRegular;
    font-size: 5.2rem;
    text-shadow: 0px -3px 0 rgba(#FEFFF3, 0.2);
  }
    
  /* ========= */
  /* = Alien = */
  /* ========= */
  
  .alien{
    position: absolute;
    top: -115px;
    left: 50%;
    margin-left: -100px;
  }
  
  /* =========== */
  /* = Sharing = */
  /* =========== */
  
  .share{
    width: 242px;
    margin: 0 auto;
    margin-top: 1.3em;
  }
  
}