.layout-teaser {
  @extend %page-background;
  
  /* We have to repeat here as the gradient is different */
  background-image: -webkit-radial-gradient(circle farthest-side, #8b4f2a 9%,#8b4f2a 16%,   #854a2a 16%,#854a2a 23%,   #7d4429 23%,#7d4429 30%,   #773e2a 30%,#773e2a 37%,#70382b 37%,#70382b 44%,#68312a 44%,#68312a 51%,#5f2c29 51%,#5f2c29 58%,#58252a 58%,#58252a 65%,#4e1e2a 65%,#4e1e2a 72%,#46172b 72%,#46172b 79%,#3b102b 79%,#3b102b 86%,    #30082a 86%,#30082a 93%,#25002b);
  background-image: -moz-radial-gradient(circle  farthest-side, #8b4f2a 9%,#8b4f2a 16%,   #854a2a 16%,#854a2a 23%,   #7d4429 23%,#7d4429 30%,   #773e2a 30%,#773e2a 37%,#70382b 37%,#70382b 44%,#68312a 44%,#68312a 51%,#5f2c29 51%,#5f2c29 58%,#58252a 58%,#58252a 65%,#4e1e2a 65%,#4e1e2a 72%,#46172b 72%,#46172b 79%,#3b102b 79%,#3b102b 86%,    #30082a 86%,#30082a 93%,#25002b);
  background-image: -ms-radial-gradient(circle  farthest-side, #8b4f2a 9%,#8b4f2a 16%,   #854a2a 16%,#854a2a 23%,   #7d4429 23%,#7d4429 30%,   #773e2a 30%,#773e2a 37%,#70382b 37%,#70382b 44%,#68312a 44%,#68312a 51%,#5f2c29 51%,#5f2c29 58%,#58252a 58%,#58252a 65%,#4e1e2a 65%,#4e1e2a 72%,#46172b 72%,#46172b 79%,#3b102b 79%,#3b102b 86%,    #30082a 86%,#30082a 93%,#25002b);  
  background-image: radial-gradient(circle farthest-side, 
    #8b4f2a 9%,
    #8b4f2a 16%,   
    #854a2a 16%,
    #854a2a 23%,   
    #7d4429 23%,
    #7d4429 30%,   
    #773e2a 30%,
    #773e2a 37%,
    #70382b 37%,
    #70382b 44%,
    #68312a 44%,
    #68312a 51%,
    #5f2c29 51%,
    #5f2c29 58%,
    #58252a 58%,
    #58252a 65%,
    #4e1e2a 65%,
    #4e1e2a 72%,
    #46172b 72%,
    #46172b 79%,
    #3b102b 79%,
    #3b102b 86%,    
    #30082a 86%,
    #30082a 93%,
    #25002b    
  );  
}

.layout-teaser {
  
  /* ======== */
  /* = Main = */
  /* ======== */
  
  .page{
    display: table;
    margin: 100px auto 0 auto;
    position: relative;
  }
  
  /* ================ */
  /* = Comming soon = */
  /* ================ */
  
  .comming-soon{
    width: 100%;
    position: absolute;
    top: -210px;
    margin-top: -1em;
    color: #fff;
    font-family: AlfaSlabOneRegular;
    font-size: 5.2rem;
    text-shadow: 0px -3px 0 rgba(#FEFFF3, 0.2);
  }
    
  /* ========= */
  /* = Alien = */
  /* ========= */
  
  .alien{
    position: absolute;
    top: -115px;
    left: 50%;
    margin-left: -100px;
  }
  
  
  .crash{
    position: relative;
    margin-top: -90px;
    z-index: 10;
  }
  
  
  /* ============= */
  /* = Subscribe = */
  /* ============= */
  .subscribe,
  .message{
    @extend %share-gradient-bg;
    color: #fff;
    width: 580px;
    display: table;
    margin: 0 auto;
    padding: 15px;
    border-radius: 0 0 15px 15px;
    text-align: left;
    line-height: 1.5;
  }
  
  .message h1,
  .subscribe h2{
    @extend %font-h2;
  }
  
  .subscribe a{
    color: inherit;
    font-weight: bold;
  }
    
  /* =========== */
  /* = Message = */
  /* =========== */
  
  .message{
    border-radius: 15px;
    margin-bottom: 2rem;
  }
  
  .message a{
    color: #fff;
    font-weight: bold;
  }
    
  /* =========== */
  /* = Sharing = */
  /* =========== */
  
  .share{
    width: 242px;
    margin: 0 auto;
    margin-top: 1.3em;
    margin-bottom: 2em;
  }
  
  /* ================ */
  /* = Bottom links = */
  /* ================ */
  
  .to-headquarters a{
    @extend %font-h2;
    color: #fff;
    display: block;
    margin-bottom: 1em;
  }
 
  .last-year a{
    @extend %font-text;
    color: #fff;
    display: block;
    margin-bottom: 1em;
  }
  
}