<!DOCTYPE html>
<html lang="en-US">
<head>
  <!-- [START:head] -->
  <!-- [STOP:head] -->
  <title>Subscribe to the newsletter - HTML and CSS Advent 2012 by Digitpaint</title>
  <meta name="description" content="Starting December 1st: 24 days of HTML/CSS tips, brought to you by the front-end experts at Digitpaint.">
  <meta name="author" content="All of us at Digitpaint">
  
  <meta property="og:title" content="Notifications - HTML &amp; CSS Advent 2012">
  <meta property="og:url" content="http://advent2012.digitpaint.nl/">
  <meta property="og:image" content="/assets/opengraph/teaser.png">
  <meta property="og:description" content="With the Notifications API you can notify a user with an important message even if the browser isn't currently being used.">  
  
</head>
<body class="layout-article">
  <div class="page">

    <!-- [START:layout/ribbon] -->
    <!-- [STOP:layout/ribbon] -->    
        
    <article class="main">

      <!-- [START:layout/article-header?nr=00&title=Notifications&previous=/&next=/] -->
      <!-- [STOP:layout/article-header] -->    

      

      <div class="body text">
        <p class="intro">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
        </p>
        
        <h2>Heading 2</h2>
          
        <p>
          <a href="#">a textlink</a>,
          <em>some italic text</em>,
          <strong>bold text</strong>
        </p>
          
        <p>
          A paragraph!
        </p>
          
        <ul>
          <li>
            Bullet
          </li>
          <li>
            Sublijst (cijfers)
            <ol>
              <li>Sub 1</li>
              <li>Sub 2</li>
            </ol>
          </li>            
          <li>
            Sublijst (bullets)
            <ul>
              <li>Bullet 1</li>
              <li>Bullet 2</li>
            </ul>
          </li>
          <li>
            Followed by another item
          </li>
        </ul>
          
        <ol>
          <li>A numbered list</li>
          <li>Multiline Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
          <li>Three</li>            
          <li>Four</li>            
          <li>Five</li>            
          <li>
            Sublijst (cijfers)
            <ol>
              <li>Sub 1</li>
              <li>Sub 2</li>
            </ol>
          </li>            
          <li>
            Sublijst (bullets)
            <ul>
              <li>Bullet 1</li>
              <li>Bullet 2</li>
            </ul>
          </li>            
          <li>Eight</li>            
          <li>Nine</li>            
          <li>Ten</li>            
          <li>Eleven</li>
        </ol>
          
        <h3>Heading 3</h3>
        <p>Heading 3 is also defined.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>          
        
        <h2>Codeblock</h2>
        <pre class="code"><code>
html { bla }
body { bla }
h1 { bla }
        </code></pre>
        
        <h2>Inline code</h2>
        <p>
          Lorem <code>ipsum</code> dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        
        
        <h2>Without error</h2>
        <section class="subscribe">
          <p>
            Sign up for our e-mail digest, and get the daily update delivered straight to your inbox. We’ll only spam you until December 24th, scout’s honour (insert
            evil grin here). Or get on Twitter and follow us there: <a href="https://twitter.com/digitpaint">@digitpaint</a>!
          </p>
                
          <form action="#">
            <fieldset>
              
              <div class="input">
                <label class="acc" for="subscribe_email">Your email goes here</label>                
                <input type="email" id="subscribe_email" placeholder="Your email goes here...">
              </div>
          
              <div class="button">
                <button type="submit">
                  Subscribe
                </button>
              </div>
            </fieldset>
            
            <p>
              Do you want to unsubscribe? <a href="#">Click here so we can stop nagging you</a>
            </p>            
          </form>
        </section>
        
        <h2>With error</h2>
        <section class="subscribe">
          <p>
            Sign up for our e-mail digest, and get the daily update delivered straight to your inbox. We’ll only spam you until December 24th, scout’s honour (insert
            evil grin here). Or get on Twitter and follow us there: <a href="https://twitter.com/digitpaint">@digitpaint</a>!
          </p>
                
          <form action="#">
            <div class="error">
              We think your e-mail adress is invalid, you may want to check it below
            </div>
            
            <fieldset>
              
              <div class="input">
                <label class="acc" for="subscribe_email">You're email goes here</label>                
                <input type="email" id="subscribe_email" class="invalid"  placeholder="Your email goes here...">
              </div>
          
              <div class="button">
                <button type="submit">Subscribe</button>
              </div>
            </fieldset>
            
            <p>
              Do you want to unsubscribe? <a href="#">Click here so we can stop nagging you</a>
            </p>
          </form>
        </section>  
        
        <section class="subscribe">
          <p>
            We're sorry to hear you leave. Please confirm your unsubscription (sorry, we really do need a post request...)
          </p>
                
          <form action="#">
            
            <fieldset>
              
              <div class="yes">
                <button type="submit">Yes, stop nagging me</button>                
              </div>
          
              <div class="no">
                <a href="#">No! Please keep mailing me</a>
              </div>
            </fieldset>
            
          </form>
        </section>  
        
              
      </div>
      
      <footer class="footer text">
          
        <h2>Attribution</h2>
        
        <p>
          See the <a href="http://www.w3.org/TR/notifications/" target="_blank" > Notification API spec</a> at W3C
        </p>
        <p>
          This example was heavily inspired by the article 
          <a href="http://www.html5rocks.com/en/tutorials/notifications/quick/" target="_blank" >
            Using the notifications API
          </a> over at HTML5 Rocks
        </p>
        
        
        <!-- [START:share] -->
        <!-- [STOP:share] -->
          
      </footer>
      
      <!-- [START:layout/site-navigation] --> 
      <!-- [STOP:layout/site-navigation] -->
      
    </article>
        
  </div>
    
  <!-- [START:javascripts] -->
  <!-- [STOP:javascripts] -->    
</body>
</html>