<!DOCTYPE html>
<html lang="en-US">
<head>
  <!-- [START:head] -->
  <!-- [STOP:head] -->
  <title>Coming soon! - HTML and CSS Advent 2012 by Digitpaint</title>
  <meta name="description" content="Starting December 1st: 24 days of HTML/CSS tips, brought to you by the front-end experts at Digitpaint.">
  <meta name="author" content="All of us at Digitpaint">

  
  <meta property="og:title" content="Starting December 1st! - HTML &amp; CSS Advent 2012">
  <meta property="og:url" content="http://advent2012.digitpaint.nl/">
  <meta property="og:image" content="/assets/opengraph/teaser.png">
  <meta property="og:description" content="Starting December 1st: 24 days of HTML/CSS tips, brought to you by the front-end experts at Digitpaint.">
  
</head>
<body class="layout-home">
  <div class="main">
    <header class="ribbon">
      <div class="body">
        <a href="http://www.digitpaint.nl" target="_blank"><img class="logo" src="/assets/logo-ribbon.svg" alt="Digitpaint"></a>
        <h1>HTML &amp; CSS ADVENT 2012</h1>
      </div>
      <a class="banner" href="">Get daily updates via <strong>@digitpaint</strong> on Twitter</a>
    </header>

    <div class="social share">
      Don't forget to spread the joy!
        
      <!-- <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
        <a class="addthis_button_preferred_1"></a>
        <a class="addthis_button_preferred_2"></a>
        <a class="addthis_button_preferred_3"></a>
        <a class="addthis_button_preferred_4"></a>
        <a class="addthis_button_compact"></a>
        <a class="addthis_counter addthis_bubble_style"></a>
      </div> -->
    </div>

    
    <img src="/assets/home/alien.svg" alt="Bob the Alien welcomes you!" class="alien">
    
    <div class="body">
      <ol class="days" reversed>
        <li>
          <a href="#">
            <article>
              <h2>Element, may we style a number of your children?</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                est laborum.
              </p>
            </article>
          </a>
        </li>        
        <li>
          <a href="#">
            <article>
              <h2>Element, may we style a number of your children?</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                est laborum.
              </p>
            </article>
          </a>
        </li>
        <li>
          <a href="#">
            <article>
              <h2>Element, may we style a number of your children?</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                est laborum.
              </p>
            </article>
          </a>
        </li>        
      </ol>
      
      <section>
        <h2>Get your daily fix of HTML &amp; CSS goodness in you inbox!</h2>
        <p>
          Sign up...
        </p>
        
        <form action="#">
          <input type="email">
          <button type="submit">
            (Un)Subscribe
          </button>
        </form>
      </section>
    </div>
    
    <footer class="about">
      <h2>So who are these Digitpaint chaps?</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
        sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </footer>
    
    <nav class="footer-nav">
      <ul>
        <li>
          <a href="#">
            Meet the crew
          </a>
        </li>
        <li>
          <a href="#">
            Digitpaint corporate home :)
          </a>
        </li>
        <li>
          <a href="#">
            See last year's HTML &amp; CSS fest!
          </a>
        </li>                
      </ul>
    </nav>
        
  </div>
  
  <script>
    $(".comming-soon").arctext({radius: 380});
    
    var addthis_share = { 
      templates: {
        twitter: 'Comming soon, the HTML and CSS Advent 2012 #dpadvent {{url}}'
      }
    }    
    
  </script>
    
  <!-- [START:javascripts] -->
  <!-- [STOP:javascripts] -->    
</body>
</html>