%page-background{
  background-color: #25002b;
  background-image: -webkit-radial-gradient( 50% 10%, circle closest-corner, #8b4f2a 9%,#8b4f2a 16%,   #854a2a 16%,#854a2a 23%,   #7d4429 23%,#7d4429 30%,   #773e2a 30%,#773e2a 37%,#70382b 37%,#70382b 44%,#68312a 44%,#68312a 51%,#5f2c29 51%,#5f2c29 58%,#58252a 58%,#58252a 65%,#4e1e2a 65%,#4e1e2a 72%,#46172b 72%,#46172b 79%,#3b102b 79%,#3b102b 86%,    #30082a 86%,#30082a 93%,#25002b);
  background-image: -moz-radial-gradient( 50% 10%, circle closest-corner, #8b4f2a 9%,#8b4f2a 16%,   #854a2a 16%,#854a2a 23%,   #7d4429 23%,#7d4429 30%,   #773e2a 30%,#773e2a 37%,#70382b 37%,#70382b 44%,#68312a 44%,#68312a 51%,#5f2c29 51%,#5f2c29 58%,#58252a 58%,#58252a 65%,#4e1e2a 65%,#4e1e2a 72%,#46172b 72%,#46172b 79%,#3b102b 79%,#3b102b 86%,    #30082a 86%,#30082a 93%,#25002b);
  background-image: -ms-radial-gradient( 50% 10%, circle closest-corner, #8b4f2a 9%,#8b4f2a 16%,   #854a2a 16%,#854a2a 23%,   #7d4429 23%,#7d4429 30%,   #773e2a 30%,#773e2a 37%,#70382b 37%,#70382b 44%,#68312a 44%,#68312a 51%,#5f2c29 51%,#5f2c29 58%,#58252a 58%,#58252a 65%,#4e1e2a 65%,#4e1e2a 72%,#46172b 72%,#46172b 79%,#3b102b 79%,#3b102b 86%,    #30082a 86%,#30082a 93%,#25002b);  
  background-image: radial-gradient( 50% 10%, circle closest-corner, 
    #8b4f2a 9%,
    #8b4f2a 16%,   
    #854a2a 16%,
    #854a2a 23%,   
    #7d4429 23%,
    #7d4429 30%,   
    #773e2a 30%,
    #773e2a 37%,
    #70382b 37%,
    #70382b 44%,
    #68312a 44%,
    #68312a 51%,
    #5f2c29 51%,
    #5f2c29 58%,
    #58252a 58%,
    #58252a 65%,
    #4e1e2a 65%,
    #4e1e2a 72%,
    #46172b 72%,
    #46172b 79%,
    #3b102b 79%,
    #3b102b 86%,    
    #30082a 86%,
    #30082a 93%,
    #25002b    
  );
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: center;
  
}

%button-gradient-bg{
  background-color: $c_button_dark_bg;
  background-image: -webkit-linear-gradient(top, $c_button_dark_bg 0, $c_button_light_bg 100%);
  background-image: -moz-linear-gradient(top, $c_button_dark_bg 0, $c_button_light_bg 100%);
  background-image: -ms-linear-gradient(top, $c_button_dark_bg 0, $c_button_light_bg 100%);      
  background-image: linear-gradient(top, $c_button_dark_bg 0, $c_button_light_bg 100%);      
}

%autoclear:after{
	content: "";
	visibility: hidden;
	clear: both;
	display: block;
	height: 0;  
}