/* Ribbon colors */
$c_ribbon_border_top: #FF8080;
$c_ribbon_border_bottom: #4A0000;
$c_ribbon_stripes: rgba($c_ribbon_border_top, 0.35);
$c_ribbon_light_bg: #DB0000;
$c_ribbon_dark_bg: #A10000;

/* Button colors */
$c_button_light_bg: #AB0000;
$c_button_dark_bg: #7A0000;